melbourne.dat
brasil.dat
sanmarino.dat
silverstone.dat
barcelona.dat
nurburgring.dat
monaco.dat
montreal.dat
france.dat
austria.dat
hockenheimOLD.dat
budapest.dat
spa.dat
monza.dat
indianapolis.dat
suzuka.dat
sepang.dat

M. Schumacher,PRO,#FF0000,#FF0000
M. Häkkinen,PRO,#000000,#C0C0C0
R. Schumacher,AMATEUR,#0000FF,#FFFFFF
G. Fisichella,AMATEUR,#0000FF,#FFFFFF
J. Villeneuve,AMATEUR,#FFFFFF,#FF0000
H. Frentzen,AMATEUR,#FFFF00,#000000
M. Salo,BEGINNER,#0000FF,#30D5C8
J. Verstappen,BEGINNER,#FFA500,#000000
E. Irvine,BEGINNER,#008000,#FFFFFF
N. Heidfeld,BEGINNER,#0000FF,#0000FF