melbourne.dat
sepang.dat
brasil.dat
sanmarino.dat
barcelona.dat
austria.dat
monaco.dat
montreal.dat
nurburgring.dat
france.dat
silverstone.dat
hockenheimOLD.dat
budapest.dat
spa.dat
monza.dat
indianapolis.dat
suzuka.dat

M. Schumacher,PRO,#FF0000,#FF0000
D. Coulthard,PRO,#000000,#C0C0C0
R. Schumacher,PRO,#0000FF,#FFFFFF
J. Villeneuve,AMATEUR,#FFFFFF,#FF0000
N. Heidfeld,AMATEUR,#0000FF,#30D5C8
J. Trulli,AMATEUR,#FFFF00,#000000
G. Fisichella,AMATEUR,#0000FF,#FFFFFF
E. Irvine,BEGINNER,#008000,#FFFFFF
J. Alesi,BEGINNER,#0000FF,#FF0000
J. Verstappen,BEGINNER,#FFA500,#000000