melbourne.dat
sepang.dat
brasil.dat
sanmarino.dat
barcelona.dat
austria.dat
monaco.dat
montreal.dat
nurburgring.dat
silverstone.dat
france.dat
hockenheimD.dat
budapest.dat
spa.dat
monza.dat
indianapolis.dat
suzuka.dat

M. Schumacher,PRO,#FF0000,#FF0000
J. Montoya,PRO,#0000FF,#FFFFFF
D. Coulthard,PRO,#000000,#C0C0C0
J. Button,AMATEUR,#0000FF,#FFFF00
E. Irvine,BEGINNER,#008000,#FFFFFF
N. Heidfeld,AMATEUR,#0000FF,#30D5C8
G. Fisichella,BEGINNER,#FFFF00,#000000
J. Villeneuve,BEGINNER,#FFFFFF,#FF0000
M. Webber,BEGINNER,#000000,#FF0000
M. Salo,BEGINNER,#FFFFFF,#FF0000