melbourne.dat
sepang.dat
brasil.dat
sanmarino.dat
barcelona.dat
austria.dat
monaco.dat
montreal.dat
nurburgring.dat
france.dat
silverstone.dat
hockenheimD.dat
budapest.dat
monza.dat
indianapolis.dat
suzuka.dat

M. Schumacher,PRO,#FF0000,#FF0000
K. Räikkönen,PRO,#000000,#C0C0C0
J. Montoya,PRO,#0000FF,#FFFFFF
F. Alonso,PRO,#0000FF,#FFFF00
J. Button,AMATEUR,#FFFFFF,#FF0000
M. Webber,AMATEUR,#008000,#FFFFFF
H. Frentzen,AMATEUR,#0000FF,#30D5C8
G. Fisichella,AMATEUR,#FFFF00,#000000
O. Panis,AMATEUR,#FFFFFF,#FF0000
J. Wilson,BEGINNER,#000000,#FFFFFF