melbourne.dat
sepang.dat
bahrain.dat
sanmarino.dat
barcelona.dat
monaco.dat
nurburgring.dat
montreal.dat
indianapolis.dat
france.dat
silverstone.dat
hockenheimD.dat
budapest.dat
spa.dat
monza.dat
shanghai.dat
suzuka.dat
brasil.dat

M. Schumacher,PRO,#FF0000,#FF0000
J. Button,PRO,#FFFFFF,#FF0000
F. Alonso,PRO,#0000FF,#FFFF00
J. Montoya,PRO,#0000FF,#FFFFFF
K. Räikkönen,PRO,#000000,#C0C0C0
G. Fisichella,AMATEUR,#0000FF,#30D5C8
M. Webber,AMATEUR,#008000,#FFFFFF
O. Panis,BEGINNER,#FFFFFF,#FF0000
N. Heidfeld,BEGINNER,#FFFF00,#000000
Z. Baumgartner,BEGINNER,#000000,#008000