melbourne.dat
sepang.dat
bahrain.dat
sanmarino.dat
barcelona.dat
monaco.dat
nurburgring.dat
montreal.dat
indianapolis.dat
france.dat
silverstone.dat
hockenheimD.dat
budapest.dat
istanbul.dat
monza.dat
spa.dat
brasil.dat
suzuka.dat
shanghai.dat

F. Alonso,PRO,#0000FF,#FFFF00
K. Räikkönen,PRO,#000000,#C0C0C0
M. Schumacher,PRO,#FF0000,#FF0000
R. Schumacher,PRO,#FFFFFF,#FF0000
J. Button,AMATEUR,#FFFFFF,#FF0000
M. Webber,PRO,#0000FF,#FFFFFF
D. Coulthard,AMATEUR,#0000FF,#FF0000
F. Massa,AMATEUR,#0000FF,#30D5C8
T. Monteiro,AMATEUR,#FFFF00,#000000
C. Albers,BEGINNER,#000000,#FFFFFF