bahrain.dat
sepang.dat
melbourne.dat
sanmarino.dat
nurburgring.dat
barcelona.dat
monaco.dat
silverstone.dat
montreal.dat
indianapolis.dat
france.dat
hockenheimD.dat
budapest.dat
istanbul.dat
monza.dat
shanghai.dat
suzuka.dat
brasil.dat

F. Alonso,PRO,#0000FF,#FFFF00
M. Schumacher,PRO,#FF0000,#FF0000
K. Räikkönen,PRO,#C0C0C0,#000000
J. Button,PRO,#FFFFFF,#FF0000
N. Heidfeld,AMATEUR,#FFFFFF,#0000FF
R. Schumacher,AMATEUR,#FFFFFF,#FF0000
D. Coulthard,AMATEUR,#0000FF,#FF0000
M. Webber,AMATEUR,#00008B,#FFFFFF
V. Liuzzi,BEGINNER,#00008B,#FF0000
T. Monteiro,BEGINNER,#FFFFFF,#FF0000