melbourne.dat
sepang.dat
bahrain.dat
barcelona.dat
monaco.dat
montreal.dat
indianapolis.dat
france.dat
silverstone.dat
nurburgring.dat
budapest.dat
istanbul.dat
monza.dat
spa.dat
fuji.dat
shanghai.dat
brasil.dat

K. Räikkönen,PRO,#FF0000,#FF0000
L. Hamilton,PRO,#C0C0C0,#000000
N. Heidfeld,PRO,#FFFFFF,#0000FF
H. Kovalainen,PRO,#FFFF00,#FFFFFF
N. Rosberg,AMATEUR,#0000FF,#FFFFFF
D. Coulthard,AMATEUR,#0000FF,#FF0000
J. Trulli,AMATEUR,#FFFFFF,#FF0000
S. Vettel,BEGINNER,#00008B,#FF0000
J. Button,BEGINNER,#008000,#000080
T. Sato,BEGINNER,#FF0000,#FFFFFF
A. Sutil,BEGINNER,#FFA500,#000000