melbourne.dat
sepang.dat
bahrain.dat
barcelona.dat
istanbul.dat
monaco.dat
montreal.dat
france.dat
silverstone.dat
hockenheimD.dat
budapest.dat
valenciaD.dat
spa.dat
monza.dat
singaporeD.dat
fuji.dat
shanghai.dat
brasil.dat

L. Hamilton,PRO,#C0C0C0,#FF0000
F. Massa,PRO,#FF0000,#FF0000
R. Kubica,PRO,#FFFFFF,#0000FF
F. Alonso,PRO,#FFFF00,#FFFFFF
S. Vettel,AMATEUR,#00008B,#FF0000
J. Trulli,PRO,#FFFFFF,#FF0000
M. Webber,AMATEUR,#0000FF,#FF0000
N. Rosberg,AMATEUR,#00008B,#FFFFFF
R. Barrichello,AMATEUR,#FFFFFF,#008000
G. Fisichella,BEGINNER,#800000,#FFFFFF