melbourne.dat
sepang.dat
shanghai.dat
bahrain.dat
barcelona.dat
monaco.dat
istanbul.dat
silverstone.dat
nurburgring.dat
budapest.dat
valenciaD.dat
spa.dat
monza.dat
singaporeD.dat
suzuka.dat
brasil.dat
yasmarina.dat

J. Button,PRO,#FFFFFF,#000000
S. Vettel,PRO,#0000FF,#FF0000
L. Hamilton,PRO,#C0C0C0,#FF0000
K. Räikkönen,PRO,#FF0000,#FF0000
N. Rosberg,AMATEUR,#00008B,#FFFFFF
J. Trulli,PRO,#FFFFFF,#FF0000
F. Aloson,AMATEUR,#FFFF00,#FFFFFF
N. Heidfeld,AMATEUR,#FFFFFF,#0000FF
A. Sutil,AMATEUR,#FFFFFF,#008000
S. Buemi,BEGINNER,#00008B,#FF0000