bahrain.dat
melbourne.dat
sepang.dat
shanghai.dat
barcelona.dat
monaco.dat
istanbul.dat
montreal.dat
valenciaD.dat
silverstone.dat
hockenheimD.dat
budapest.dat
spa.dat
monza.dat
singapore.dat
suzuka.dat
korea.dat
brasil.dat
yasmarina.dat

S. Vettel,PRO,#00008B,#FF0000
F. Alonso,PRO,#FF0000,#FFFFFF
L. Hamilton,PRO,#C0C0C0,#FF0000
N. Rosberg,PRO,#C0C0C0,#000000
R. Kubica,PRO,#FFFF00,#000000
R. Barrichello,PRO,#0000FF,#FFFFFF
A. Sutil,PRO,#FFFFFF,#008000
K. Kobayashi,AMATEUR,#FFFFFF,#000000
S. Buemi,AMATEUR,#00008B,#FF0000
H. Kovalainen,BEGINNER,#008000,#FFD700