melbourne.dat
sepang.dat
shanghai.dat
istanbul.dat
barcelona.dat
monaco.dat
montreal.dat
valenciaD.dat
silverstone.dat
nurburgring.dat
budapest.dat
spa.dat
monza.dat
singapore.dat
suzuka.dat
korea.dat
india.dat
yasmarina.dat
brasil.dat

S. Vettel,PRO,#00008B,#FF0000
J. Button,PRO,#C0C0C0,#FF0000
F. Alonso,PRO,#FF0000,#FFFFFF
N. Rosberg,PRO,#C0C0C0,#008000
A. Sutil,AMATEUR,#FFFFFF,#FFA500
V. Petrov,AMATEUR,#000000,#FFD700
K. Kobayashi,AMATEUR,#FFFFFF,#000000
J. Alguersuari,AMATEUR,#00008B,#FF0000
R. Barrichello,BEGINNER,#0000FF,#FFFFFF
B. Senna,BEGINNER,#008000,#FFD700