melbourne.dat
sepang.dat
shanghai.dat
bahrain.dat
barcelona.dat
monaco.dat
montreal.dat
valenciaD.dat
silverstone.dat
hockenheimD.dat
budapest.dat
spa.dat
monza.dat
singapore.dat
suzuka.dat
korea.dat
india.dat
yasmarina.dat
austin.dat
brasil.dat

S. Vettel,PRO,#00008B,#FF0000
F. Alonso,PRO,#FF0000,#FFFFFF
K. Räikkönen,PRO,#000000,#FFD700
L. Hamilton,PRO,#C0C0C0,#FF0000
N. Rosberg,AMATEUR,#C0C0C0,#008000
S. Perez,AMATEUR,#FFFFFF,#000000
N. Hülkenberg,AMATEUR,#FFFFFF,#FFA500
P. Maldonado,AMATEUR,#FFFFFF,#FF0000
J. Vergne,BEGINNER,#00008B,#FF0000
V. Petrov,BEGINNER,#008000,#FFFF00