melbourne.dat
sepang.dat
shanghai.dat
bahrain.dat
barcelona.dat
monaco.dat
montreal.dat
silverstone.dat
nurburgring.dat
budapest.dat
spa.dat
monza.dat
singapore.dat
korea.dat
suzuka.dat
india.dat
yasmarina.dat
austin.dat
brasil.dat

S. Vettel,PRO,#0000FF,#800080
F. Alonso,PRO,#FF0000,#FFFFFF
L. Hamilton,PRO,#C0C0C0,#008000
K. Räikkönen,PRO,#000000,#FF0000
J. Button,AMATEUR,#C0C0C0,#FF0000
N. Hülkenberg,AMATEUR,#A9A9A9,#C0C0C0
P. di Resta,AMATEUR,#FFFFFF,#FFA500
D. Ricciardo,AMATEUR,#00008B,#FF0000
V. Bottas,BEGINNER,#FFFFFF,#FF0000
J. Bianchi,BEGINNER,#FF0000,#000000