melbourne.dat
sepang.dat
bahrain.dat
shanghai.dat
barcelona.dat
monaco.dat
montreal.dat
austria.dat
silverstone.dat
hockenheimD.dat
budapest.dat
spa.dat
monza.dat
singapore.dat
suzuka.dat
sochi.dat
austin.dat
brasil.dat
yasmarina.dat

L. Hamilton,PRO,#C0C0C0,#0000FF
D. Ricciardo,PRO,#0000FF,#800080
V. Bottas,PRO,#FFFFFF,#FF0000
F. Alonso,PRO,#FF0000,#000000
J. Button,PRO,#C0C0C0,#000000
N. Hülkenberg,PRO,#000000,#FFFFFF
J. Vergne,AMATEUR,#00008B,#FF0000
R. Grosjean,BEGINNER,#000000,#FF0000
J. Bianchi,BEGINNER,#FF0000,#000000
A. Sutil,BEGINNER,#A9A9A9,#C0C0C0