melbourne.dat
sepang.dat
shanghai.dat
bahrain.dat
barcelona.dat
monaco.dat
montreal.dat
austria.dat
silverstone.dat
budapest.dat
spa.dat
monza.dat
singapore.dat
suzuka.dat
sochi.dat
austin.dat
mexico.dat
brasil.dat
yasmarina.dat

L. Hamilton,PRO,#C0C0C0,#0000FF
S. Vettel,PRO,#FF0000,#000000
V. Bottas,PRO,#FFFFFF,#FF0000
D. Kvyat,PRO,#00008B,#800080
S. Perez,PRO,#000000,#C0C0C0
R. Grosjean,AMATEUR,#000000,#FFD700
M. Verstappen,AMATEUR,#00008B,#FF0000
F. Nasr,AMATEUR,#0000FF,#FFFF00
J. Button,AMATEUR,#A9A9A9,#FF0000
R. Merhi,BEGINNER,#FF0000,#FFFFFF