melbourne.dat
bahrain.dat
shanghai.dat
sochi.dat
barcelona.dat
monaco.dat
montreal.dat
baku.dat
austria.dat
silverstone.dat
budapest.dat
hockenheimD.dat
spa.dat
monza.dat
singapore.dat
sepang.dat
suzuka.dat
austin.dat
mexico.dat
brasil.dat
yasmarina.dat

N. Rosberg,PRO,#C0C0C0,#0000FF
D. Ricciardo,PRO,#000080,#FF0000
S. Vettel,PRO,#FF0000,#FFFFFF
S. Perez,AMATEUR,#000000,#C0C0C0
V. Bottas,AMATEUR,#FFFFFF,#FF0000
F. Alonso,AMATEUR,#A9A9A9,#FF0000
C. Sainz,AMATEUR,#00008B,#FF0000
R. Grosjean,BEGINNER,#C0C0C0,#000000
K. Magnussen,BEGINNER,#FFFF00,#000000
F. Nasr,BEGINNER,#0000FF,#FFFF00