shanghai.dat
bahrain.dat
sochi.dat
barcelona.dat
monaco.dat
montreal.dat
baku.dat
austria.dat
silverstone.dat
budapest.dat
spa.dat
monza.dat
singapore.dat
sepang.dat
suzuka.dat
austin.dat
mexico.dat
brasil.dat
yasmarina.dat

L. Hamilton,PRO,#C0C0C0,#0000FF
S. Vettel,PRO,#FF0000,#FFFFFF
D. Ricciardo,PRO,#000080,#FF0000
S. Perez,PRO,#FFC0CB,#000000
C. Sainz,AMATEUR,#0000FF,#FF0000
N. Hülkenberg,AMATEUR,#FFFF00,#000000
F. Massa,AMATEUR,#FFFFFF,#FF0000
R. Grosjean,AMATEUR,#A9A9A9,#000000
F. Alonso,AMATEUR,#FFA500,#000000
P. Wehrlein,BEGINNER,#0000FF,#FFFFFF