melbourne.dat
bahrain.dat
shanghai.dat
baku.dat
barcelona.dat
monaco.dat
montreal.dat
paulricard.dat
austria.dat
silverstone.dat
hockenheimD.dat
budapest.dat
spa.dat
monza.dat
singapore.dat
sochi.dat
suzuka.dat
austin.dat
mexico.dat
brasil.dat
yasmarina.dat

L. Hamilton,PRO,#C0C0C0,#0000FF
S. Vettel,PRO,#FF0000,#808080
M. Verstappen,PRO,#000080,#FF0000
N. Hülkenberg,AMATEUR,#000000,#FFFF00
S. Perez,AMATEUR,#FFC0CB,#000000
K. Magnussen,AMATEUR,#000000,#FFFFFF
F. Alonso,AMATEUR,#FFA500,#0000FF
C. Leclerc,AMATEUR,#FFFFFF,#FF0000
P. Gasly,AMATEUR,#0000FF,#FF0000
L. Stroll,BEGINNER,#FFFFFF,#FF0000