melbourne.dat
bahrain.dat
shanghai.dat
baku.dat
barcelona.dat
monaco.dat
montreal.dat
paulricard.dat
austria.dat
silverstone.dat
hockenheimD.dat
budapest.dat
spa.dat
monza.dat
singapore.dat
sochi.dat
suzuka.dat
mexico.dat
austin.dat
brasil.dat
yasmarina.dat

L. Hamilton,PRO,#C0C0C0,#0000FF
M. Verstappen,PRO,#000080,#FF0000
C. Leclerc,PRO,#FF0000,#000000
C. Sainz,AMATEUR,#FFA500,#0000FF
P. Gasly,AMATEUR,#0000FF,#FF0000
D. Ricciardo,AMATEUR,#000000,#FFFF00
S. Perez,AMATEUR,#FFC0CB,#0000FF
K. Räikkönen,AMATEUR,#FFFFFF,#FF0000
K. Magnussen,AMATEUR,#000000,#FFD700
R. Kubica,BEGINNER,#FFFFFF,#0000FF