austria.dat
austria.dat
budapest.dat
silverstone.dat
silverstone.dat
barcelona.dat
spa.dat
monza.dat
mugello.dat
sochi.dat
nurburgring.dat
algarve.dat
sanmarino.dat
istanbul.dat
bahrain.dat
bahrain.dat
yasmarina.dat

L. Hamilton,PRO,#000000,#0000FF
M. Verstappen,PRO,#2652b6;#db0a40;#ffc906;#29b245
S. Perez,PRO,#FFC0CB,#0000FF
D. Ricciardo,PRO,#000000,#FFFF00
C. Sainz,PRO,#FFA500,#0000FF
C. Leclerc,AMATEUR,#FF0000,#000000
P. Gasly,AMATEUR,#FFFFFF,#000080
K. Räikkönen,BEGINNER,#FFFFFF,#FF0000
G. Russell,BEGINNER,#FFFFFF,#0000FF
R. Grosjean,BEGINNER,#C0C0C0,#000000