/denver.dat,2
/hockenheim.dat,3
/singapore.dat,1
austria.dat,1
austria.dat,2
austria.dat,3
austria.dat,4
austria.dat,5
austria.dat,6

Hamilton,PRO,#999999,#00D2BE
Verstappen,PRO,#0600EF,#CC1E4A
Norris,PRO,#FF8700,#0A00EF
Leclerc,PRO,#C00000,#700000
Ricciardo,PRO,#FFF500,#444444
Perez,PRO,#F596C8,#DDDDDD
Räikkönen,PRO,#960000,#DDDDDD
Russell,PRO,#DDDDDD,#0600EF
Magnussen,PRO,#DDDDDD,#960000
Gasly,PRO,#0600EF,#DDDDDD